<%- include('partials/header-profile') -%>

<body id="feed">
  <a href="/logout" class="col-1 btn btn-outline-light">logout</a>

  <div class="container">
    <div class="row justify-content-center mt-5">
      <ul class="row pst-unstyled">
      </ul>
      
      <div class="body-content">
        <!-- Dropdown and etc -->
       

        <div id="chart"></div>
        <div id="table"></div>
        <div id="table-second"></div>
        <div id="table-third"></div>
        <div class="chartInfo">
          
          <button id="chartDataButton">
            <span id="chartDataButtonText">Show</span> Chart Data
          </button>
          
          <json-viewer id="jsonViewer">{}</json-viewer>
        </div>
      </div>
      
      </div>
    </body>
      <%- include('partials/footer') -%>